#main-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#main-navbar .nav-item {
  margin-right: 1rem;
}

#main-navbar .nav-item:last-child {
  margin-right: 0;
}

#main-navbar button {
  background: none;
  border: none;
}
